

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
scroll-behavior:smooth;
}

body{
background:#470570;
color:white;
}

header{

position:fixed;
width:100%;
padding:20px 8%;
display:flex;
justify-content:space-between;
align-items:center;
background:#470570;
backdrop-filter:blur(15px);
z-index:1000;

}

.logo{

font-size:28px;
font-weight:700;
color:#7e4786;

}

nav a{

color:white;
text-decoration:none;
margin-left:25px;
transition:.3s;

}

nav a:hover{

color:#7e4786;

}

.hero{

min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:120px 8%;
gap:80px;

}

.texto{

max-width:600px;

}

.texto span{

color:#7e4786;
font-size:20px;

}

.texto h1{

font-size:60px;
margin:10px 0;

}

.texto h2{

font-weight:400;
color:#cbd5e1;
margin-bottom:20px;

}

.texto p{

color:#cbd5e1;
line-height:1.8;
margin-bottom:35px;

}

.btn{

padding:15px 40px;
background:#7e4786;
border-radius:40px;
text-decoration:none;
color:#08111d;
font-weight:700;
transition:.3s;

}

.btn:hover{

background:white;
transform:translateY(-5px);

}

.foto img{

width:360px;
height:360px;
object-fit:cover;
border-radius:50%;
border:6px solid #7e4786;
box-shadow:0 0 50px rgba(155, 56, 248, 0.5);

}

section{

padding:100px 10%;

}

section h2{

text-align:center;
font-size:42px;
margin-bottom:40px;

}

#sobre p{

max-width:900px;
margin:auto;
text-align:center;
line-height:2;
color:#cbd5e1;

}

.cards{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

column-gap:30px; /* espaço entre as colunas */
row-gap:170px;   /* espaço entre as linhas */


}

.card{

background:#1e293b;
padding:40px;
border-radius:20px;
text-align:center;
transition:.4s;
position:relative;
overflow:visible;
cursor:pointer;

}

.card:hover{

transform:translateY(-10px);
background:#7e4786;
color:#08111d;

}


.descricao{

position:absolute;
left:50%;
transform:translateX(-50%);

top:105%;

width:260px;

background:white;
color:#1e293b;

padding:18px;
border-radius:15px;

font-size:14px;
line-height:1.6;

box-shadow:0 15px 35px rgba(0,0,0,.3);

opacity:0;
visibility:hidden;

transition:.35s;

z-index:999;

}

.descricao::before{

content:"";
position:absolute;
top:-8px;
left:50%;
transform:translateX(-50%) rotate(45deg);

width:16px;
height:16px;

background:white;

}

.card:hover .descricao{

opacity:1;
visibility:visible;
top:115%;

}

#contato{

text-align:center;

}

#contato p{

margin:15px;
font-size:18px;

}

footer{

padding:30px;
text-align:center;
background:#020617;
color:#7e4786;

}

@media(max-width:900px){

.hero{

flex-direction:column-reverse;
text-align:center;

}

.texto h1{

font-size:45px;

}

.foto img{

width:270px;
height:270px;

}

nav{

display:none;

}

}

.hidden{

opacity:0;
transform:translateY(60px);
transition:1s;

}

.show{

opacity:1;
transform:translateY(0);

}

.texto-contato{

text-align:center;
color:#cbd5e1;
margin-bottom:30px;

}

#formContato{

max-width:650px;
margin:auto;

display:flex;
flex-direction:column;
gap:20px;

}

#formContato input,
#formContato textarea{

padding:18px;

border:none;
border-radius:15px;

background:#1e293b;
color:white;

font-size:16px;

outline:none;

}

#formContato input::placeholder,
#formContato textarea::placeholder{

color:#94a3b8;

}

#formContato textarea{

resize:none;

}

#formContato button{

padding:18px;

border:none;
border-radius:40px;

background:#7e4786;

font-size:18px;
font-weight:bold;

cursor:pointer;

transition:.3s;

}

#formContato button:hover{

background:white;
color:#08111d;

}

#resposta{

margin-top:20px;

text-align:center;

font-size:18px;

font-weight:600;

color:#7e4786;

}